:root {
    background : yellow;
    font-size : 20px;
    --main-color : purple;
    --underline : 3px solid black;
    --blue : #1e90ff;
    --white : #ffffffff;
}


strong {
    background-color : var(--main-color);
    color : var(--white);
    border : var(--underline);
}


body {
    background-color : var(--blue);
}


h2 {
    border-bottom : 2px solid var(--blue);
}


.container {
    color : var(--blue);
    background-color : var(--white);
    padding : 15px;
}


button {
    background-color : var(--main-color);
    color : var(--white);
    border : var(--underline);
    padding : 5px;
}


div {
    margin : 30px;
    padding : 30px;
    border : 5px solid var(--white);
}


.mouseEvent {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    margin: 10px;
    float: left;
    padding: 30px;
    text-align: center;
    background-color: palevioletred;
}


.mouseFunc {
    background-color : var(--white);
}